@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?mxormp');
  src: url('../fonts/icomoon.eot?mxormp#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?mxormp') format('truetype'),
    url('../fonts/icomoon.woff?mxormp') format('woff'),
    url('../fonts/icomoon.svg?mxormp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hero-one:before {
  content: "\e902";
  color: #fff;
}

.icon-hero-two:before {
  content: "\e903";
  color: #fff;
  width: 50px;
  height: 50px;
}

.icon-hero-three:before {
  content: "\e904";
  color: #fff;
}

.icon-whatsapp:before {
  content: "\e900";
}

.icon-instagram:before {
  content: "\e901";
}

.icon-phone:before {
  content: "\e942";
}
